/* Other project styles */

i.fa {
    font-size: 7rem;
    vertical-align: middle;
    }

.decisions img {
    height: 70px;
    padding: 0 10px;
    }

.decisions i.fa {
    width: 90px;
    text-align: center;
    }

.decisions i,
.decisions form,
.decisions form input,
.decisions form p.unit {
    float: left;
}

.decisions form {
    width: 100%
    }

.decisions form h2 {
    margin-top: 0;
    }
.decisions form input[type=number] {
    width: 45px;
    }
.decisions form .unit {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    }
.decisions form input[type=range] {
    width: 300px;
    }

.decisions p.description {
    clear: both;
}
